In [1]:
print('Good day!!!')

Good day!!!

In [24]:
# создание CSV файла с последующим его открытием в Pandas (вариант 1)
import csv
import pandas as pd

# загрузили файл данных
with open("/home/yurist/Рабочий стол/LINUX/COD/PYTHON/MLLearn/checkins.dat", 'r') as fo:
    lines = fo.readlines()
fo.close()

# убрали все пробелы из строки и заменили разделитель ' | ' на ','
#linesCSV = [(' '.join(line.split())).replace('|', ',')  for line in lines]
linesCSV = [(''.join(line.split())).split('|')  for line in lines]

# убрали границу разделитель
linesCSV.pop(1)
#print(linesCSV[0])


with open('/home/yurist/Рабочий стол/LINUX/COD/PYTHON/MLLearn/checkins.csv', 'w', newline='') as fo:
    writer = csv.writer(fo)
    writer.writerows(linesCSV)
fo.close()

# создаем DataFrame
df = pd.read_csv('/home/yurist/Рабочий стол/LINUX/COD/PYTHON/MLLearn/checkins.csv', header=0, sep=',')
df.head()

/home/yurist/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       id    user_id  venue_id   latitude  longitude          created_at
0  984301  2041916.0    5222.0        NaN        NaN  2012-04-2117:39:01
1  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-2117:43:47
2  984315  1764391.0    5222.0        NaN        NaN  2012-04-2117:37:18
3  984234    44652.0    5222.0  33.800745 -84.410520  2012-04-2117:43:43
4  984249  2146840.0    5222.0        NaN        NaN  2012-04-2117:42:58

In [36]:
# создание DataFrame сразу
import pandas as pd
import numpy as np

# загрузили файл данных
with open("/home/yurist/Рабочий стол/LINUX/COD/PYTHON/MLLearn/checkins.dat", 'r') as fo:
    lines = fo.readlines()
fo.close()

# убрали все пробелы из строки и заменили разделитель ' | ' на ','
#linesCSV = [(' '.join(line.split())).replace('|', ',')  for line in lines]
linesCSV = [(''.join(line.split())).split('|')  for line in lines]

# убрали границу разделитель
linesCSV.pop(1)

# вырезаем строку заголовков
columns = linesCSV.pop(0)

# генерируем словарь данных для создания DataFrame (column:cell)
linesDF = list()
for line in linesCSV:
    lineDict = { column:cell for column, cell in zip(columns, line) }
    linesDF.append(lineDict)
    
# создаем DataFrame
df = pd.DataFrame(linesDF)

# заменяем пустые ячейки в столбцах latitude, longitude на np.nan (NaN) 
df['latitude'].replace('', np.nan, inplace = True)
df['longitude'].replace('', np.nan, inplace = True)
df.head()

           created_at      id    latitude    longitude  user_id venue_id
0  2012-04-2117:39:01  984301         NaN          NaN  2041916     5222
1  2012-04-2117:43:47  984222  38.8951118  -77.0363658    15824     5222
2  2012-04-2117:37:18  984315         NaN          NaN  1764391     5222
3  2012-04-2117:43:43  984234   33.800745    -84.41052    44652     5222
4  2012-04-2117:42:58  984249         NaN          NaN  2146840     5222

In [18]:
#

1021968

In [52]:
# убираем ненужные данные 
df.dropna(subset=['latitude', 'longitude'], inplace=True)

# создали DataFrame координат
X = df[['latitude', 'longitude']].copy()

# создали короткий X
x = X[0:10000]
x.head()

      latitude     longitude
1   38.8951118   -77.0363658
3    33.800745     -84.41052
7   45.5234515  -122.6762071
9    40.764462   -111.904565
10  33.4483771  -112.0740373

In [114]:
# Кластеризация MeanShift

from sklearn.cluster import MeanShift

clustering = MeanShift(bandwidth = 0.1).fit(x)
#clustering = MeanShift(bandwidth = 0.1).fit_predict(x)

In [135]:
# обработка данных кластеризации
# clustering.labels_          - метки кластеров
# clustering.cluster_centers_ - координаты центров

# словарь (имя:колличество)
cNamNum = dict()
for cName in clustering.labels_:
    cNumber = cNamNum.setdefault(cName, 0)
    cNumber += 1
    cNamNum[cName] = cNumber
    
# список имен кластеров при условии >15 (колличество)
namesUpLim = list()

# список координат кластеров при условии >15 (колличество)
pointsUpLim = list()
for cName, cNumber in cNamNum.items():
    if cNumber > 15:
        namesUpLim.append(cName)
        pointsUpLim.append(clustering.cluster_centers_[cName])

for point in pointsUpLim:
    print(point)

[ 38.88737015 -77.04639133]
[ 33.76709669 -84.39790656]
[  45.5234515 -122.6762071]
[  40.75376665 -111.89783695]
[  33.44793902 -112.00344033]
[  32.22158187 -110.92678296]
[ 40.71706816 -73.99484328]
[  33.44346683 -111.90088869]
[ 42.36389711 -71.07423862]
[  33.23794612 -111.62564151]
[  34.05699003 -118.24422271]
[  34.0489281 -111.0937311]
[  32.71576174 -117.15768546]
[  33.81254765 -117.88784571]
[  34.11606995 -118.1107284 ]
[  37.62049618 -122.39271383]
[  33.80828838 -118.15604732]
[ 41.8781136 -87.6297982]
[  33.3589393  -111.82214177]
[ 41.85777471 -87.80490173]
[  36.11857025 -115.17026498]
[ 40.76331841 -73.81808858]
[  37.78378261 -122.42258987]
[  33.64939129 -117.95539496]
[ 44.98231421 -93.26815449]
[  37.39615186 -122.09109117]
[  37.3500285  -121.94162789]
[  33.0581063 -112.0476423]
[ 44.96027376 -93.11891499]
[ 30.267153  -97.7430608]
[  34.05443307 -118.43460833]
[  36.778261  -119.4179324]
[  37.78310956 -122.26365208]
[  38.58152561 -121.4958927 ]
[  47.60670915 -122.33210998]
[ 40.69097641 -73.61875007]
[ 36.16395752 -86.78100072]
[ 39.95186047 -75.16250421]
[  34.026928   -117.95839696]
[ 28.543932   -81.37715823]
[ 32.89037616 -97.10793461]
[ 39.76838006 -86.1580431 ]
[ 32.802955 -96.769923]
[ 35.2270869 -80.8431267]
[  33.56802024 -112.31653915]
[  37.54908664 -122.31327583]
[ 43.03746315 -87.90565537]
[  33.86830957 -118.35958324]
[  33.58751378 -117.70052042]
[ 39.28253934 -76.61749539]
[ 39.0204115 -77.078565 ]
[  39.73683144 -104.987516  ]
[  32.981212 -117.078863]
[ 29.76168003 -95.38170534]
[51.5091222  -0.12303457]
[  34.13631128 -118.32638558]
[  33.56261984 -112.21535306]
[  33.93529125 -118.02356494]
[ 39.10000411 -94.58247959]
[ 40.4363058  -80.00085065]
[ 26.11053684 -80.15526598]
[ 42.13840199 -87.97787124]
[ 27.949436  -82.4651441]
[ 25.7863579  -80.21318522]
[  47.67590542 -122.16532082]
[  35.2013516 -111.639249 ]
[ 39.98052286 -82.99845736]
[  40.0149856 -105.2705456]
[ 38.64396606 -90.21774629]
[ -6.20947004 106.84734505]
[ 40.99550711 -73.70206233]
[ 38.97794721 -94.67500746]
[  34.04793431 -117.6945848 ]
[ 38.95517156 -77.39081125]
[ 29.42817731 -98.49177633]
[ 41.48952475 -81.69830352]
[ 35.77044395 -78.63322712]
[ 40.88029219 -74.03286589]

In [140]:
# Определение банеров
offices = [[33.751277, -118.188740],
           [25.867736, -80.324116],  # 25.7863579 -80.21318522
           [51.503016, -0.075479],   # 51.5091222 -0.12303457  0.04794598833662766
           [52.378894, 4.885084],
           [39.366487, 117.036146],
           [-33.868457, 151.205134]]
dxyList = list()
for office in offices:
    for point in pointsUpLim:
        dx = office[0] - point[0]
        dy = office[1] - point[1]
        dxy = (dx**2 + dy**2)**0.5
        dxyList.append(dxy)
print(min(dxyList))

0.04794598833662766

In [98]:
//?

SyntaxError: invalid syntax (<ipython-input-98-2266a8cc5790>, line 1)