In [1]:
print('Good day!!!')

Good day!!!

In [24]:
# создание CSV файла с последующим его открытием в Pandas (вариант 1)
import csv
import pandas as pd

# загрузили файл данных
with open("/home/yurist/Рабочий стол/LINUX/COD/PYTHON/MLLearn/checkins.dat", 'r') as fo:
    lines = fo.readlines()
fo.close()

# убрали все пробелы из строки и заменили разделитель ' | ' на ','
#linesCSV = [(' '.join(line.split())).replace('|', ',')  for line in lines]
linesCSV = [(''.join(line.split())).split('|')  for line in lines]

# убрали границу разделитель
linesCSV.pop(1)
#print(linesCSV[0])


with open('/home/yurist/Рабочий стол/LINUX/COD/PYTHON/MLLearn/checkins.csv', 'w', newline='') as fo:
    writer = csv.writer(fo)
    writer.writerows(linesCSV)
fo.close()

# создаем DataFrame
df = pd.read_csv('/home/yurist/Рабочий стол/LINUX/COD/PYTHON/MLLearn/checkins.csv', header=0, sep=',')
df.head()

/home/yurist/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       id    user_id  venue_id   latitude  longitude          created_at
0  984301  2041916.0    5222.0        NaN        NaN  2012-04-2117:39:01
1  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-2117:43:47
2  984315  1764391.0    5222.0        NaN        NaN  2012-04-2117:37:18
3  984234    44652.0    5222.0  33.800745 -84.410520  2012-04-2117:43:43
4  984249  2146840.0    5222.0        NaN        NaN  2012-04-2117:42:58

In [36]:
# создание DataFrame сразу
import pandas as pd
import numpy as np

# загрузили файл данных
with open("/home/yurist/Рабочий стол/LINUX/COD/PYTHON/MLLearn/checkins.dat", 'r') as fo:
    lines = fo.readlines()
fo.close()

# убрали все пробелы из строки и заменили разделитель ' | ' на ','
#linesCSV = [(' '.join(line.split())).replace('|', ',')  for line in lines]
linesCSV = [(''.join(line.split())).split('|')  for line in lines]

# убрали границу разделитель
linesCSV.pop(1)

# вырезаем строку заголовков
columns = linesCSV.pop(0)

# генерируем словарь данных для создания DataFrame (column:cell)
linesDF = list()
for line in linesCSV:
    lineDict = { column:cell for column, cell in zip(columns, line) }
    linesDF.append(lineDict)
    
# создаем DataFrame
df = pd.DataFrame(linesDF)

# заменяем пустые ячейки в столбцах latitude, longitude на np.nan (NaN) 
df['latitude'].replace('', np.nan, inplace = True)
df['longitude'].replace('', np.nan, inplace = True)
df.head()

           created_at      id    latitude    longitude  user_id venue_id
0  2012-04-2117:39:01  984301         NaN          NaN  2041916     5222
1  2012-04-2117:43:47  984222  38.8951118  -77.0363658    15824     5222
2  2012-04-2117:37:18  984315         NaN          NaN  1764391     5222
3  2012-04-2117:43:43  984234   33.800745    -84.41052    44652     5222
4  2012-04-2117:42:58  984249         NaN          NaN  2146840     5222

In [18]:
#

1021968

In [52]:
# убираем ненужные данные 
df.dropna(subset=['latitude', 'longitude'], inplace=True)

# создали DataFrame координат
X = df[['latitude', 'longitude']].copy()

# создали короткий X
x = X[0:10000]
x.head()

      latitude     longitude
1   38.8951118   -77.0363658
3    33.800745     -84.41052
7   45.5234515  -122.6762071
9    40.764462   -111.904565
10  33.4483771  -112.0740373

In [59]:
# Кластеризация MeanShift

from sklearn.cluster import MeanShift

clustering = MeanShift(bandwidth = 0.1).fit_predict(x)

In [100]:
# обработка данных кластеризации
#print(len(clustering.labels_))
#print(len(set(clustering.labels_)))
#clustering

#clustersDict = {i: for i in clustering}


# словарь (имя:колличество)
cNameNumber = dict()
for cName in clustering:
    cNumber = cNameNumber.setdefault(cName, 0)
    cNumber += 1
    cNameNumber[cName] = cNumber

#for cName, cNumber in sorted(cNameNumber.items(), key=lambda value: value[1], reverse = True):
#    print(cName, cNumber)

hist, bin_edges = np.histogram(clustering, bins=len(clustering))

print(hist, bin_edges)

[892   0   0 ...   0   0   1] [0.0000000e+00 1.1950000e-01 2.3900000e-01 ... 1.1947610e+03 1.1948805e+03
 1.1950000e+03]

In [98]:
//?

SyntaxError: invalid syntax (<ipython-input-98-2266a8cc5790>, line 1)